<!DOCTYPE html><html lang="ko"><head>
  	<meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="format-detection" content="telephone=no">
  	
  	<title>OJT 과제 : 레이아웃</title>
  	<!-- Icon & Favicon -->
  	<link rel="shortcut icon" href="../favicon.ico">
  	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
  	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
  	<link rel="apple-touch-icon" href="../favicon-180x180.png">
  	<!-- // Icon & Favicon -->
  	<link rel="stylesheet" href="../css/project-name-sass.css">
  </head>

  <body data-pagestatus="new : 24.12.18">
  	<div class="wrap wrap_step_01">
  		<!-- Contents -->
  		<main class="main">
  			<section class="content_container">
  				<div class="content_top">
  					<h1 class="content_title">STEP01</h1>
  					<p class="content_desc">width : 고정 / height: 고정</p>
  				</div>
  				<div class="content_middle">
  					<!-- Inline-block -->
  					<div class="content_area content_inline_block">
  						<div class="content_box content_left">
  							<p class="content_text">Inline-block</p>
  						</div>
  						<div class="content_box content_right">
  							<p class="content_text">
                  Inline-block 사용 시 필수 적용 속성 :
                  <br><br>
                  - 부모요소에 font-size : 0;
                </p>
  						</div>
  					</div>
  					<!-- // Inline-block -->
  					<!-- Table -->
  					<div class="content_area content_table">
  						<div class="content_box content_left">
  							<p class="content_text">Table</p>
  						</div>
  						<div class="content_box content_right">
  							<p class="content_text">
                  Table 사용 시 필수 적용 속성 :
                  <br><br>
                  - 부모요소에 display : table;
                  <br>
                  - 해당 요소에 display : table-cell;
                  <br><br>
                  *** table-layout : fixed를 적용해주면 내용과 상관없이 너비가 고정되어 셀에 지정한 너비 기준으로 적용된다
                </p>
  						</div>
  					</div>
  					<!-- // Table -->
  					<!-- Float -->
  					<div class="content_area content_float">
  						<div class="content_box content_left">
  							<p class="content_text">Float</p>
  						</div>
  						<div class="content_box content_right">
  							<p class="content_text">
                  Float 사용 시 필수 적용 속성 :
                  <br><br>
                  - 부모요소에 overflow : hidden or 가상태그(확실한 방법)로 해제 해줘야 한다
                  <br><br>
                  - 해당 요소에 display : float;
                </p>
  						</div>
  					</div>
  					<!-- // Float -->
  					<!-- Flex -->
  					<div class="content_area content_flex">
  						<div class="content_box content_left">
  							<p class="content_text">Flex</p>
  						</div>
  						<div class="content_box content_right">
  							<p class="content_text">
                  Flex 사용 시 필수 적용 속성 :
                  <br><br>
                  - 부모요소에 display : flex;
                </p>
  						</div>
  					</div>
  					<!-- // Flex -->
  					<!-- Grid -->
  					<div class="content_area content_grid">
  						<div class="content_box content_left">
  							<p class="content_text">Grid</p>
  						</div>
  						<div class="content_box content_right">
  							<p class="content_text">
                  Grid 사용 시 필수 적용 속성 :
                  <br><br>
                  - 부모요소에 display : grid;
                </p>
  						</div>
  					</div>
  					<!-- // Grid -->
  					<!-- Position -->
  					<div class="content_area content_position">
  						<div class="content_box content_left">
  							<p class="content_text">Position</p>
  						</div>
  						<div class="content_box content_right">
  							<p class="content_text">
                  position 사용 시 필수 적용 속성 :
                  <br><br>
                  - 배치 기준이 되는 상위요소에 position : relative
                  <br><br>
                  - 해당 요소에 position : absolute 후 좌표값 지정해줘야함
                  *** 부모요소의 여백만큼 좌표값을 지정해줘야함
                </p>
  						</div>
  					</div>
  					<!-- // Position -->
  				</div>
  			</section>
  		</main>
  		<!-- // Contents -->
  	</div>
  

  
</body></html>