<!DOCTYPE html><html lang="ko"><head>
   	<meta charset="utf-8">
   	<meta http-equiv="x-ua-compatible" content="ie=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   	<meta name="format-detection" content="telephone=no">
   	
   	<title>OJT 과제 : 레이아웃</title>
   	<!-- Icon & Favicon -->
   	<link rel="shortcut icon" href="../favicon.ico">
   	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
   	<link rel="apple-touch-icon" href="../favicon-180x180.png">
   	<!-- // Icon & Favicon -->
   	<link rel="stylesheet" href="../css/project-name-sass.css">
   </head>

   <body data-pagestatus="new : 24.12.18">
   	<div class="wrap wrap_step_06 wrap_step_06_03">
   		<!-- Contents -->
   		<main class="main">
   			<section class="content_container">
   				<div class="content_top">
   					<h1 class="content_title">STEP06-03</h1>
   					<p class="content_desc">width - 고정(동일) / 여백 유동</p>
   				</div>
   				<div class="content_middle">
   					<!-- Inline-block -->
   					<div class="content_area content_inline_block">
   						<div class="content_box content_left">
   							<p class="content_text">Inline-block</p>
   						</div>
   						<div class="content_box content_center">
   							<p class="content_text">여백을 각 박스의 총합은 뺀 후 여백의 갯수만큼 나눠야함</p>
   						</div>
   						<div class="content_box content_right">
   							<p class="content_text">Curabitur maximus bibendum arcu non porttitor. Nulla faucibus sagittis risus. Donec vel nunc lorem. Ut eget pretium nibh. Curabitur facilisis pellentesque ante non commodo. Nulla vel massa lacus. Mauris fringilla sapien et elit tincidunt dapibus. Vivamus in odio leo. Curabitur laoreet lacus in neque ullamcorper, vitae placerat dui porttitor. Sed ac tristique tellus. Phasellus ut elit sit amet nisl dignissim tempor a nec augue. Pellentesque a laoreet turpis, in viverra metus. Nam sit amet quam eget lacus finibus gravida. Maecenas a imperdiet velit, eget euismod sem. Ut iaculis in lorem nec malesuada.</p>
   						</div>
   					</div>
   					<!-- // Inline-block -->
   					<!-- Float -->
   					<div class="content_area content_float">
   						<div class="content_box content_left">
   							<p class="content_text">Float</p>
   						</div>
   						<div class="content_box content_center">
   							<p class="content_text">여백을 각 박스의 총합은 뺀 후 여백의 갯수만큼 나눠야함</p>
   						</div>
   						<div class="content_box content_right">
   							<p class="content_text">Curabitur maximus bibendum arcu non porttitor. Nulla faucibus sagittis risus. Donec vel nunc lorem. Ut eget pretium nibh. Curabitur facilisis pellentesque ante non commodo. Nulla vel massa lacus. Mauris fringilla sapien et elit tincidunt dapibus. Vivamus in odio leo. Curabitur laoreet lacus in neque ullamcorper, vitae placerat dui porttitor. Sed ac tristique tellus. Phasellus ut elit sit amet nisl dignissim tempor a nec augue. Pellentesque a laoreet turpis, in viverra metus. Nam sit amet quam eget lacus finibus gravida. Maecenas a imperdiet velit, eget euismod sem. Ut iaculis in lorem nec malesuada.</p>
   						</div>
   					</div>
   					<!-- // Float -->
   					<!-- Flex -->
   					<div class="content_area content_flex">
   						<div class="content_box content_left">
   							<p class="content_text">Flex</p>
   						</div>
   						<div class="content_box content_center">
   							<p class="content_text">Integer sed velit turpis. Praesent a risus dolor. Mauris sit amet ornare lacus, ut interdum ex. Praesent a augue arcu. Nam lorem lorem, sagittis dignissim ipsum quis, scelerisque tristique quam. Maecenas iaculis efficitur maximus. Nam ac est ullamcorper, porttitor diam ac, faucibus est.</p>
   						</div>
   						<div class="content_box content_right">
   							<p class="content_text">Integer sed velit turpis. Praesent a risus dolor. Mauris sit amet ornare lacus, ut interdum ex. Praesent a augue arcu. Nam lorem lorem, sagittis dignissim ipsum quis, scelerisque tristique quam. Maecenas iaculis efficitur maximus. Nam ac est ullamcorper, porttitor diam ac, faucibus est.</p>
   						</div>
   					</div>
   					<!-- // Flex -->
   					<!-- Grid -->
   					<div class="content_area content_grid">
   						<div class="content_box content_left">
   							<p class="content_text">Grid</p>
   						</div>
   						<div class="content_box content_center">
   							<p class="content_text">Integer sed velit turpis. Praesent a risus dolor. Mauris sit amet ornare lacus, ut interdum ex. Praesent a augue arcu. Nam lorem lorem, sagittis dignissim ipsum quis, scelerisque tristique quam. Maecenas iaculis efficitur maximus. Nam ac est ullamcorper, porttitor diam ac, faucibus est.</p>
   						</div>
   						<div class="content_box content_right">
   							<p class="content_text">Integer sed velit turpis. Praesent a risus dolor. Mauris sit amet ornare lacus, ut interdum ex. Praesent a augue arcu. Nam lorem lorem, sagittis dignissim ipsum quis, scelerisque tristique quam. Maecenas iaculis efficitur maximus. Nam ac est ullamcorper, porttitor diam ac, faucibus est.</p>
   						</div>
   					</div>
   					<!-- // Grid -->
   					<!-- Position -->
   					<div class="content_area content_position">
   						<div class="content_box content_left">
   							<p class="content_text">Position</p>
   						</div>
   						<div class="content_box content_center">
   							<p class="content_text">가운데 박스는 좌표값으로 밀어내어 가운데 정렬 후 여백값을 빼줘야함</p>
   						</div>
   						<div class="content_box content_right">
   							<p class="content_text">Curabitur maximus bibendum arcu non porttitor. Nulla faucibus sagittis risus. Donec vel nunc lorem. Ut eget pretium nibh. Curabitur facilisis pellentesque ante non commodo. Nulla vel massa lacus. Mauris fringilla sapien et elit tincidunt dapibus. Vivamus in odio leo. Curabitur laoreet lacus in neque ullamcorper, vitae placerat dui porttitor. Sed ac tristique tellus. Phasellus ut elit sit amet nisl dignissim tempor a nec augue. Pellentesque a laoreet turpis, in viverra metus. Nam sit amet quam eget lacus finibus gravida. Maecenas a imperdiet velit, eget euismod sem. Ut iaculis in lorem nec malesuada.</p>
   						</div>
   					</div>
   					<!-- // Position -->
   				</div>
   			</section>
   		</main>
   		<!-- // Contents -->
   	</div>
   

   
</body></html>