<!DOCTYPE html><html lang="ko"><head>
 	<meta charset="utf-8">
 	<meta http-equiv="x-ua-compatible" content="ie=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 	<meta name="format-detection" content="telephone=no">
 	
 	<title>OJT 과제 : 레이아웃</title>
 	<!-- Icon & Favicon -->
 	<link rel="shortcut icon" href="../favicon.ico">
 	<link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
 	<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
 	<link rel="apple-touch-icon" href="../favicon-180x180.png">
 	<!-- // Icon & Favicon -->
 	<link rel="stylesheet" href="../css/project-name-sass.css">
 </head>

 <body data-pagestatus="new : 24.12.18">
 	<div class="wrap wrap_step_07">
 		<!-- Contents -->
 		<main class="main">
 			<section class="content_container">
 				<div class="content_top">
 					<h1 class="content_title">STEP07</h1>
 					<p class="content_desc">width : 유동 / 여백 : 고정 / 갯수 줄이면 자동으로 width 조정</p>
 				</div>
 				<div class="content_middle">
 					<!-- Table -->
 					<div class="content_area content_table">
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">Table</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Table</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Table</p>
 							</div>
 						</div>
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">Table</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Table</p>
 							</div>
 						</div>
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">border-spacing 여백적용 가능하나 외곽으로 여백생김</p>
 							</div>
 						</div>
 					</div>
 					<!-- // Table -->
 					<!-- Flex -->
 					<div class="content_area content_flex">
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">Flex</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Flex</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Flex</p>
 							</div>
 						</div>
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">Flex</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Flex</p>
 							</div>
 						</div>
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">Flex</p>
 							</div>
 						</div>
 					</div>
 					<!-- // Flex -->
 					<!-- Grid -->
 					<div class="content_area content_grid">
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">Grid</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Grid</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Grid</p>
 							</div>
 						</div>
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">Grid</p>
 							</div>
 							<div class="content_box">
 								<p class="content_text">Grid</p>
 							</div>
 						</div>
 						<div class="content_inner">
 							<div class="content_box">
 								<p class="content_text">박스의 최대 갯수를 알 수 없는 경우에 상위요소의 크기만큼 박스가 차도록 auto-fit적용/minmax 100px로 적용하여 최대/최소값 100px이긴하나 최대값은 1fr로 설정하여 유연하게 적용된다</p>
 							</div>
 						</div>
 					</div>
 					<!-- // Grid -->
 				</div>
 			</section>
 		</main>
 		<!-- // Contents -->
 	</div>
 

 
</body></html>